@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700;');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #cfbf8c;
    background-image: linear-gradient(315deg, #ffeaa7 0%, #000000 74%);
}
.drag-area{
    background-color: #4d4855;
    background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
    height: 500px;
    width: 700px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.drag-area.active{
    border: 2px solid #fff;
}
.icon svg{
    cursor: pointer;
}
.drag-area header{
    font-size: 30px;
    color:white;
    font-weight: 500;
}
.drag-area span{
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    margin: 10px 0 15px 0;
}
.drag-area button{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}
.drag-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
